* { font-family: "Helvetica Neue", "Segoe UI", Roboto, Arial; font-size: 13px; }

QListWidget#Sidebar {
    padding-left: 0px;
    background: transparent;
    border: none;
    border-right: 1px solid black;
    padding-right: 14px;
}

QListWidget#Sidebar::item {
    padding: 8px;
}

QListWidget#Sidebar::item:selected {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    color: black;
    transition: background 0.01s;
}

QVBoxLayout#Root{
    background: #eaecef;
}