# --- Python bytecode / caches ---
__pycache__/
*.py[cod]
*$py.class

# --- PyInstaller output ---
build/
dist/

# Extra PyInstaller artifacts (some may appear outside build/dist)
*.toc
*.pyz
*.pkg
base_library.zip
warn-*.txt
xref-*.html
localpycs/

# --- macOS cruft ---
.DS_Store
.AppleDouble
._*

# --- Editors / envs 
.venv/
venv
.env
venv/